<launch>

	<node name="streamer" pkg="thermalvis" type="streamer">
	
		<param name="debugMode" value="true" />
	
		<param name="source" value="directory" />
		<param name="directory" value="~\Documents\Data\optris\different_ddpg_levels\mid_snr_ddpg_0.25" /> -->
		<!-- <param name="directory" value="C:\Users\Stephen\Documents\Data\optris\Denoised sequence\Non-local method\low_snr" /> -->
		<!-- <param name="directory" value="C:\Users\Stephen\Documents\Data\optris\Denoised sequence\Transform-Domain Collaborative Filtering\low_snr" /> -->
		
		<param name="inputDatatype" value="0" /> <!-- 0 for 8-bit, 1 for raw (14-bit), 2 for multi-modality (2 channel), 3 for depth (16-bit) -->
		
		<param name="markDuplicates" value="true" />
		
		<param name="filterMode" value="0" /> <!-- 0 for no filter, 1 for gaussian, 2 for bilateral, 3 for adaptive bilateral -->
		<param name="filterParam" value="2.0" />
		
		<param name="degreesPerGraylevel" value="0.25" /> <!-- value of 0.025 works OK for miricle sequences.. -->
		<!-- <param name="desiredDegreesPerGraylevel" value="0.05" /> --> <!-- can adjust this to enhance contrast -->
		
		<param name="outputType" value="0" /> <!-- 0 for 8-bit grayscale, 1 for 8-bit color, 2 for 16-bit grayscale -->
		<param name="writeImages" value="false" />
		<param name="outputFolder" value="~\Documents\Data\optris\output" />
		
		<param name="loopMode" value="true" />
		
		<param name="outputColor" value="true" />
		<param name="output8bit" value="true" />

	</node>
	
	<node name="flow" pkg="thermalvis" type="flow" output="screen">
		
		<param name="debugMode" value="true" />
		<param name="verboseMode" value="true" />
		<param name="detectEveryFrame" value="true" />
		<param name="attemptHistoricalRecovery" value="false" />
		
		<param name="outputDebugImages" value="false" />
		<param name="outputTrackedFeatures" value="false" />
		<param name="outputDetectedFeatures" value="false" />
		<param name="showTrackHistory" value="false" />
		<param name="autoTrackManagement" value="true" />
		
		<param name="velocityPrediction" value="false" />
		
		<param name="attemptMatching" value="false" />
		<param name="predetectedFeatures" value="C:\Users\Stephen\Documents\GitHub\BUILDS\thermalvis\apps\mono-slam\data\0000034552.192722240" />
		<param name="detector_1" value="FAST" /> <!-- options: FILE, FAST, GFTT and HARRIS -->
		<!-- <param name="minFeatures" value="100" /> -->
		<param name="maxFeatures" value="150" />
		<param name="sensitivity_1" value="0.1" /> <!-- default is 0.1 -->
		<param name="flowThreshold" value="0.000002" /> <!-- default is 0.0002 -->
		
	</node>
	
	<node name="image_view" pkg="image_view" type="image_view" output="screen">
		<remap from="image" to="/thermalvis/flow/image_col"/>
		<param name="~/autosize" value="true" />
	</node>
	
	<!-- <node name="reconfigure_streamer" pkg="dynamic_reconfigure" type="reconfigure_gui" output="screen" args="/streamer"/> -->
	<node name="reconfigure_flow" pkg="dynamic_reconfigure" type="reconfigure_gui" output="screen" args="/flow"/>
	
</launch>
